/* ******************************
:: 1.0 WEB FONTS
****************************** */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:ital,wght@0,400;0,500;0,600;1,600&display=swap');

/* font-family: 'DM Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

/* ******************************
:: 2.0 IMPORT ALL CSS
****************************** */
@import url(bootstrap.min.css);
@import url(all.min.css);
@import url(animate.min.css);
@import url(aos.css);
@import url(owl.carousel.min.css);

/* ******************************
:: 3.0 GLOBAL CSS
****************************** */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #777;
}

.main {
    overflow: hidden;
}

section,
.section {
    position: relative;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.container-fluid {
    padding: 0 5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    color: #1c144e;
    margin-bottom: 0;
}

.inner-wrapper h1,
.inner-wrapper h2,
.inner-wrapper h3 {
    color: #2d3136;
}

h1 {
    font-size: 4em;
    font-weight: 600;
    line-height: 1.2;
}

h2 {
    font-size: 40px;
    line-height: 1.2;
}

h3 {
    font-size: 20px;
    line-height: 1.2;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
    font-weight: 400;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #777;
    margin-bottom: 0;
}

@media (min-width: 992px) {
    .inner-content p {
        font-size: 20px;
        color: #818992;
    }
}

a {
    color: #444;
}

a:hover {
    color: #0056b3;
}

a,
a:hover,
a:focus,
.btn:focus {
    text-decoration: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

ol,
ul {
    margin: 0;
    padding: 0;
}

ol li,
ul li {
    list-style: none;
}

img {
    height: auto;
    max-width: 100%;
}

.text-primary {
    color: #2d3136 !important;
}

/* ******************************
:: 4.0 COMMON CSS
****************************** */
.fw-3 {
    font-weight: 300;
}

.fw-4 {
    font-weight: 400;
}

.fw-5 {
    font-weight: 500;
}

.fw-6 {
    font-weight: 600;
}

.fw-7 {
    font-weight: 700;
}

.op-5 {
    opacity: 0.5;
}

.avatar-sm {
    height: 3rem;
    width: 3rem;
}

.avatar-md {
    height: 4rem;
    width: 4rem;
}

.avatar-lg {
    height: 5rem;
    width: 5rem;
}

.h-100vh {
    height: 100vh;
}

.h-90vh {
    height: 90vh;
}

.pos-abs-top-right {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    bottom: auto;
}

.radius-100 {
    border-radius: 100px !important;
}

.bg-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.dsp-tc {
    display: table-cell;
    vertical-align: middle;
}

.owl-carousel .owl-item img {
    width: auto;
}

.owl-prev:focus,
.owl-next:focus {
    outline: none;
}

.tooltip > .tooltip-inner {
    background-color: #00cff2;
    padding: 6px;
}

.tooltip-arrow,
.tooltip.top .tooltip-arrow {
    border-top-color: #00cff2;
}

.inner-wrapper {
    min-height: 100vh;
    width: 100%;
}

/*SECTION HEADING*/
.section-heading {
    margin-bottom: 80px;
}

.section-heading > h2 {
    position: relative;
}

.section-heading > h2::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 70px;
    bottom: -15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

/*HEADINGS*/
.headings span {
    color: #444;
    font-weight: 500;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    letter-spacing: 1px;
    margin-left: -30px;
}

/*SECTION PADDING*/
.pt_0 {
    padding-top: 0;
}

.ptb_50 {
    padding: 50px 0;
}

.ptb_100 {
    padding: 100px 0;
}

.ptb_150 {
    padding: 150px 0;
}

.ptb_180 {
    padding: 180px 0;
}

/* ******************************
:: 7.0 HEADER AREA CSS
****************************** */
.hero-wrapper .svg-clipped {
    -webkit-clip-path: url(#svgPath);
    clip-path: url(#svgPath);
    height: 100%;
    z-index: -1;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 0;
    padding-bottom: 0;
    z-index: 999;
    -webkit-transition: .3s;
    transition: .3s;
    background: transparent;
    padding: 1rem;
}

.navbar .navbar-nav .nav-link {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    -webkit-transition: .3s;
    transition: .3s;
}

.navbar.navbar-light .navbar-nav .nav-link {
    color: #7e8085;
}

.navbar.navbar-light .navbar-nav .nav-link:hover,
.navbar.navbar-light .navbar-nav .nav-link:focus,
.navbar.navbar-light .navbar-nav .nav-link.active,
.navbar.navbar-light .navbar-nav .nav-link.current-menu-item {
    color: #2c2e30;
}

.navbar .navbar-brand-sticky {
    display: none;
}

.navbar-sticky {
    -webkit-transition: none;
    transition: none;
}

.navbar-sticky-transitioned {
    -webkit-transition: .3s;
    transition: .3s;
}

.navbar-sticky-moved-up {
    position: fixed;
    top: 0;
    background: #c71f28;
    margin-top: -250px;
}

[data-theme=dark] .navbar-sticky-moved-up {
    background: #01081f;
    -webkit-box-shadow: 0 4px 25px rgba(30, 39, 69, 0.3), 0 1px 0px rgba(30, 39, 69, 0.4);
    box-shadow: 0 4px 25px rgba(30, 39, 69, 0.3), 0 1px 0px rgba(30, 39, 69, 0.4);
}

.navbar-sticky-on {
    margin-top: 0;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
    padding-bottom: 0;
}

.navbar-sticky-on .navbar-brand-regular {
    display: none;
}

.navbar-sticky-on .navbar-brand-sticky {
    display: inline;
    max-width: 250px;
}

/*NAVBAR DARK*/
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .btn-outline {
    color: #fff;
}

.navbar-dark.navbar-sticky-on .navbar-nav .nav-link {
    color: #7e8085;
}

[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link {
    color: #e7eaee;
}

.navbar-dark.navbar-sticky-on .navbar-nav .nav-link:hover,
.navbar-dark.navbar-sticky-on .navbar-nav .nav-link:focus,
.navbar-dark.navbar-sticky-on .navbar-nav .nav-link.active,
.navbar-dark.navbar-sticky-on .navbar-nav .nav-link.current-menu-item {
    color: #2c2e30;
}

[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link:hover,
[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link:focus,
[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link.active,
[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link.current-menu-item {
    color: #D2D5DA;
}

.navbar,
.navbar-brand{
    padding-top: 0;
}

/* ******************************
:: 8.0 WELCOME AREA CSS
****************************** */
.pr-100{
    padding-right: 100px;
}

.welcome-area{
    background-image: url(../img/bg/city-optik-banner.jpg);
    background-position: center;
    background-size: cover;
    height: 920px;
}

.welcome-form{
    background: #c81f28;
    padding: 55px 55px;
    box-shadow: 0 0 10px #c81f28;
    margin-top: 150px;
    position: relative;
    z-index: 20;
    max-width: 450px;
}

.form-title h4{
    color: #fff;
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 600;
    line-height: 1.3;
    font-family: 'Poppins', sans-serif;
}

.welcome-form form .form-group{
    margin-bottom: 20px;
}

.welcome-form form .form-group-btn{
    margin: 25px 0 0;
}

.form-group input,
.form-group select{
    background: #fff;
    color: #000;
    font-weight: 400;
    padding: 0 15px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    height: 65px;
    margin-bottom: 10px;
    -webkit-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.welcome-form .form-group input::-webkit-input-placeholder,
.welcome-form .form-group textarea::-webkit-input-placeholder {
    color: #000;
}

.welcome-form .form-group input:-ms-input-placeholder,
.welcome-form .form-group textarea:-ms-input-placeholder {
    color: #000;
}

.welcome-form .form-group input::placeholder,
.welcome-form .form-group textarea::placeholder {
    color: #000;
}

.welcome-form input:focus,
.welcome-form textarea:focus,
.welcome-form select:focus {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #e69746;
    color: #000;
    background: #fff;
}

.form-group input[type="submit"]{
    height: 65px;
    padding: 12px 15px;
    background: #22263d;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    /* margin-top: 25px; */
    -webkit-box-shadow: 0 0 12px rgb(160 52 140 / 60%);
    box-shadow: 0 0 12px rgb(160 52 140 / 60%);
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
}



/* ******************************
:: 13.0  POPUP AREA 
****************************** */
.modal-dialog{
    margin-top: 100px;
    max-width: 694px !important;
    z-index: 99999;
}

.order-model .modal-dialog{
    max-width: 894px !important;
}

.modal.fade .modal-dialog{
    top: 48%;
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.modal-content {
    border-radius: 0px;
    overflow: hidden;
    padding-bottom: 50px;
}

.modal-header {
    border-bottom: none;
}

.download-close{
    float: right;
    background: #2e2a29;
    border-radius: 45px;
    border: 1px solid transparent;
    width: 46px;
    height: 46px;
    z-index: 99999;
    position: absolute;
    right: -6px;
    top: -8px;
    padding: 2px 0;
    transition: all .3s ease;
}

.download-close:hover{
    background: #c81f28;
}

.download-close span {
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    line-height: 45px;
    padding: 5px 16px;
}

#letter5{
    text-align: center;
}

.letter_inner .heading {
    margin-bottom: 0px;
}

.heading h2 {
    font-size: 35px;
    line-height: 24px;
    color: #193d6f;
    font-family: 'Teko', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    padding-bottom: 20px;
    margin-bottom: 40px;
    position: relative;
}

.heading h2:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 240px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background: linear-gradient(to right, #c81f28 0%, transparent 100%);
    z-index: 99;
}

#letter6 .tab-content, #letter5 .tab-content {
    padding: 0 50px;
}

.order-model form{
    display: block;
}

.order-model label {
    font-size: 14px;
    font-family: 'Lexend Deca', sans-serif;
    color: #999;
    line-height: 24px;
    position: absolute;
    left: 34px;
    top: -12px;
    background: #fff;
    padding: 0 8px;
    z-index: 99;
}

#letter5 select, #letter5 input {
    margin-bottom: 15px;
    position: relative;
    color: #193d6f;
    resize: none;
    font-weight: 300;
    border: 0.5px solid #ccc;
    font-size: 14px;
    font-family: 'Lexend Deca', sans-serif;
    height: 70px;
    width: 100%;
    font-size: 18px;
    padding: 0 20px;
    border-radius: 3px;
    z-index: 9;
    box-shadow: none;
    cursor: pointer;
}

#letter5 input[type="submit"]{
    font-size: 18px;
    font-weight: 600;
}

#letter5 input:focus {
    outline: none !important;
    border: 0.5px solid #e69746;
    color: #193d6f;
}

.wrap {
    overflow: hidden;
    position: relative;
}

.order-model .datepicker {
    position: relative;
}

.popup-btn a{
    background: #185cc9;
    color: #fff;
    padding: 18px 72px;
    border-radius: 100px;
    transition: all .3s;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.popup-btn a:hover{
    background-color: #ffc343;
    color: #fff;
}

.popup-btn{
    margin-top: 40px;
}

.modal.fade .modal-dialog{
    display: flex;
}

.popup-img-main{
    background-color: #2f9331;
}

.popup-img img{
    width: 280px;
}

.model-project-details .form-group input::-webkit-input-placeholder,
.model-project-details .form-group textarea::-webkit-input-placeholder {
    color: #000;
}

.model-project-details .form-group input:-ms-input-placeholder,
.model-project-details .form-group textarea:-ms-input-placeholder {
    color: #000;
}

.model-project-details .form-group input::placeholder,
.model-project-details .form-group textarea::placeholder {
    color: #000;
}

.model-project-details input:focus,
.model-project-details textarea:focus,
.model-project-details select:focus {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #c81f28;
    color: #000;
    background: transparent;
}

.popupleft-content,
.modal-optik{
    background-color: #feaa36;
}

.popupleft-content{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 50px;
    background-image: url(../img/bg/contact-bg.jpg);
    background-size: cover;
}
/* 
.popupleft-content{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 50px;
} */

.popupleft-content h4{
    color: #fff;
    font-weight: 400;
    font-size: 23px;
    text-transform: uppercase;
}

.popupleft-content h3 {
    font-weight: 500;
    color: #fff;
    font-size: 23px;
    margin: 25px 0;
    text-transform: uppercase;
}

.popupleft-content h3 span{
    font-weight: 800;
    font-size: 30px;
}


/* #letter5 select, #letter5 input{
    color: #fff;
} */


#letter5 input[type="submit"]{
    color: #fff;
}


.model-project-details input[type="submit"]:focus{
    color: #fff;
    background-color: #000;
}
 
/* ******************************
:: 4.0  About AREA 
****************************** */
.about-area{
    padding: 100px 0 115px;
    background-image: url(../img/bg/about-bg.jpg);
    background-size: cover;
    background-position: center;
}

.about-inner .head h1{
    color: #fff;
    text-transform: uppercase;
    max-width: 400px;
    margin-bottom: 20px;
    font-size: 48px;
}

.about-inner .text p{
    color: #fffc;
    font-size: 18px;
    line-height: 30px;
}

.about-inner .text p:first-child{
    margin-bottom: 30px;
}

.about-inner .about-btn{
    margin-top: 50px;
}

.about-inner .about-btn a{
    color: #c71f28;
    background-color: #fff;
    border-radius: 6px;
    padding: 20px 60px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #fff;
}

.about-inner .about-btn a:hover{
    background-color: #c71f28;
    color: #fff;
}

/* ******************************
:: 5.0  Brands AREA 
****************************** */
.brands-area{
    position: relative;
    padding: 100px 0;
}

.brand-main{
    flex-wrap: wrap;
    width: 100%;
}

.brand-large-box,
.brand-box{
    min-height: 100px;
}

.brand-large-box{
    flex: 0 0 39%;
    background-color: #c81f28;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    margin-bottom: 5px;

}

.brand-large-box h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: 1px;
}

.brand-box{
    flex: 0 0 19%;
    overflow: hidden;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin: 0 5px;
    margin-bottom: 10px;
}

.brand-box:nth-of-type(5){
    margin-left: 0;
}

/* products-area */
.products-area{
    padding-bottom: 100px;
}

.product-head h2{
    color: #2a2a2a;
    font-size: 38px;
    position: relative;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 55px;
}

.product-head h2::before{
    position: absolute;
    content: "";
    background-color: #c81f28;
    right: 26%;
    height: 2px;
    width: 12%;
    top: 50%;
}

.product-head h2::after{
    position: absolute;
    content: "";
    background-color: #c81f28;
    left: 26%;
    height: 2px;
    width: 12%;
    top: 50%;
}

.pro-box{
    position: relative;
    background-color: #f2f3f3;
    margin-bottom: 30px;
    overflow: hidden;
    text-align: center;
}

.pro-box .text{
    /* background-color: #c81f28; */
}

.pro-box .text h3{
    color: #fff;
    /* padding: 30px 0; */
}

.pro-box .text h3 a{
    color: #fff;
    transition: all .3s ease;
    background: #c81f28;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.pro-box .text h3 a:hover{
    text-decoration: underline;
}

.pro-box .img{
    background-color: #f2f3f3;
}

/* ******************************
:: 6.0  Testimonials AREA 
****************************** */
.testi-area{
    background-color: #e8edef;
    padding: 100px 0;
}

.testi-head h1{
    color: #2a2a2a;
    font-size: 38px;
    margin-bottom: 50px;
}

.single-testi{
    background-color: #fff;
    padding: 50px;
}

.single-testi p{
    color: #7c7c7c;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
}

.single-testi .name h3{
    color: #2a2a2a;
    font-weight: 500;
    text-align: right;
}

.single-testi .name h3 span{
    color: #7c7c7c;
    font-weight: 400;
}

.single-testi .img{
    margin-bottom: 30px;
}

.testi-slider .owl-nav{
    position: absolute;
    right: 0;
    top: -100px;
}

.testi-slider .owl-nav button{
    color: #7c7c7c !important;
    border: 1px solid #7c7c7c !important;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    line-height: 42px !important;
    transition: all .3s ease;
}

.testi-slider .owl-nav button span{
    font-size: 45px;
}

.testi-slider .owl-nav [class*=owl-]:hover{
    background-color: #c81f28;
    border: 1px solid #c81f28 !important; 
}

.testi-slider .owl-nav [class*=owl-]:hover span{
    color: #fff;
}

.testi-btn{
    margin-top: 70px;
}

.testi-btn a{
    color: #fff;
    background-color: #c81f28;
    border: 1px solid #c81f28;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px #c81f28;
    transition: all .3s ease;
}

.testi-btn a:hover{
    color: #c81f28;
    background-color: transparent;
    box-shadow: 0 0 5px #c81f28;
}

/* ******************************
:: 7.0  Contact AREA 
****************************** */
.contact-area{
    position: relative;
    background: #e8edef;
}

.contact-box{
    position: relative;
    background-color: #feaa36;
    margin-bottom: -200px;
    z-index: 99;
}

.contact-bg{
    background-image: url(../img/bg/contact-bg.jpg);
    height: 390px;
    width: 510px;
    position: absolute;
    left: 0;
    top: 0;
}

.search-box{
    padding: 130px 0 110px;
    padding-left: 70px;
}

.search-box h3{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    margin: 10px 0 30px;
    text-transform: uppercase;
}

.search-box .input-group{
    width: 100%;
    max-width: 470px;
}

.search-box .input-group .custom-select{
    height: 60px;
    flex: 0 0 70%;
}

.search-box .input-group .input-group-append{
    flex: 0 0 22%;
}

.search-box .input-group .input-group-append a{
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    background: #c92031;
}

/* ******************************
:: 8.0  Footer AREA 
****************************** */
.footer-section{
    background-color: #36373d;
    padding-top: 300px;
}

.footer-ct,.footer-mail{
    margin-bottom: 30px;
}

.footer-ct h3{
    color: #adadad;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 5px;
}

.footer-mail{
    color: #adadad;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 5px;
}

.footer-ct a{
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    transition: all .3s ease;
}

.footer-ct a:hover{
    color: #c81f28;
}

.footer-mail h4{
    color: #adadad;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
}

.footer-mail a{
    color: #fffc;
    font-weight: 400;
    font-size: 18px;
    transition: all .3s ease;
}

.footer-mail a:hover{
    text-decoration: underline;
}

.footer-btn a{
    color: #fff;
    background-color: #c81f28;
    border: 1px solid #c81f28;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 22px;
    border-radius: 8px;
    transition: all .3s ease;
}

.footer-btn{
    float: right;
}

.footer-btn a:hover{
    color: #fff;
    background-color: transparent;
}

.copy-right a img{
    max-width: 100px;
}

.copy-right{
    border-top: 1px solid #adadad;
    padding: 30px 0;
}

.copy-right p{
    color: #adadad;
}